doctype html
html
  head
    title Dhruv's Dance Academy
    block scripts 
    block style
  body
    nav.n1
     ul.navbar
       div.navImg
         img(alt="image not loaded properly" src='https://svgsilh.com/svg/2024547.svg'  )
         h5.dda 
           |DDA
       li Home
       li About
       li Services
       li
          a(href='/contact') Contact us
       li Class info 
    block content
    footer.footer Copyright © 2023 DhruvDanceAcademy.com All rights reserved 
    
