doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title Dhruv Dance Academy
    link(href="./styles/style.css", rel="stylesheet")

body
 nav.n1
   ul.navbar
     div.navImg
       img(alt="image not loaded properly" src='https://svgsilh.com/svg/2024547.svg'  )
       h5.dda 
         |DDA
     li Home
     li About
     li Services
     li Contact us
     li Class info  
 section.introSection 
     h1.firstheading  Welcome to Dhruv's Dance Academy 
     h2.secondheadind Eat Sleep Dance Repeat
 section.missionSection 
    h3.missionHeading Our Mission 
    div.TriBox
     div.box 
       h6.boxheading Dance Perfection 
       div.insideBox
         div.card-Img
           img(alt="image not loaded properly" src="https://svgsilh.com/svg/3079159.svg" )
         div This is the best Dance Academy in this town
     div.box 
       h6.boxheading Dance the way you like
       div.insideBox
         div.card-Img
           img(alt="image not loaded properly" src="https://svgsilh.com/svg/310022.svg" )
         div This is the best Dance Academy in this town 
     div.box 
       h6.boxheading Expert Teaching
       div.insideBox
         div.card-Img
           img(alt="image not loaded properly" src="https://svgsilh.com/svg/1456923.svg" )    
         div This is the best Dance Academy in this town
 section.sponsorSection 
     h4.sponsorHeading Our Sponsors
     div.sponsorLogo 
       div.logo
         img(alt="image not loaded properly" src="https://www.logo.wine/a/logo/Microsoft/Microsoft-Logo.wine.svg" )
       div.logo
         img(alt="image not loaded properly" src="https://www.logo.wine/a/logo/Facebook/Facebook-Logo.wine.svg")
       div.logo
         img(alt="image not loaded properly" src="https://www.logo.wine/a/logo/Google/Google-Logo.wine.svg")
 footer.footer Copyright © 2023 DhruvDanceAcademy.com All rights reserved       
 script 
   include ../public/styles/index.js    